{
    "openapi": "3.0.1",
    "info": {
      "title": "They Said So Quotes API",
      "description": "They Said So Quotes API offers a complete feature rich REST API access.",
      "version": "3.1"
    },
    "servers": [
        {
          "url": "https://quotes.rest"
        }
    ],
    "tags": [
      {
        "description": "Access random quote service.",
        "name": "Quote"
      }
    ],
    "paths": {
      "/qod": {
        "get": {
          "description": "Gets `Quote of the Day`\n",
          "parameters": [
            {
              "description": "QOD",
              "in": "query",
              "name": "category",
              "required": false,
              "schema": {
                "format": "string",
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "examples": {
                    "response": {
                      "value": "{\n \"success\": {\n \"total\": 1\n },\n \"contents\": {\n \"quotes\""
                    }
                  },
                  "schema": {
                    "$ref": "#/components/schemas/Quote"
                  }
                }
              },
              "description": "200 response"
            },
            "400": {
              "content": {
                "application/json": {
                  "examples": {
                    "response": {
                      "value": "{\n \"error\": {\n \"code\": 400,\n \"message\": \"Bad Request\"\n  }\n}"
                    }
                  }
                }
              },
              "description": "400 response"
            }
          },
          "security": [
            {
              "X-TheySaidSo-Api-Secret": []
            }
          ],
          "tags": [
            "Quote of the day"
          ]
        }
      }
    },
    "components": {
      "schemas": {
        "Quote": {
          "properties": {
            "author": {
              "description": "Author name of quote.",
              "type": "string"
            },
            "quote": {
              "description": "The Quote.",
              "type": "string"
            },
            "tags": {
              "description": "Array of tags/categories.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "required": [
            "quote"
          ]
        }
      },
      "securitySchemes": {
        "X-TheySaidSo-Api-Secret": {
          "in": "header",
          "name": "X-TheySaidSo-Api-Secret",
          "type": "apiKey"
        }
      }
    }
  }

